/ProgettoSEGruppo11/build/
/ProgettoSEGruppo11/dist/
/ProgettoSEGruppo11_1/nbproject/private/
/ProgettoSEGruppo11_1/build/
/ProgettoSEGruppo11_copia/nbproject/private/
/ProgettoSEGruppo11_copia/build/
/ProgettoSEGruppo11_copia/dist/
/ProgettoSEGruppo11_COPIA2/nbproject/private/
/ProgettoSEGruppo11_2/nbproject/private/
